<div class="inner gauge-mod">

    <header>
        <p> <span></span> Gauge </p>
    </header>

    <div class="graph">
        <div class="dash-number-medium">
            <span class="blue">{{model.totalSteps}}</span>/<span class="green">10,000</span>
        </div>

    </div>

    {{yield}}

</div>
